# homework16 notebook

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
df=pd.read_csv('../data/raw_prices.csv')
df.head()

         date  close  volume
0  2024-03-01  90.13    1213
1  2024-03-02  88.60    1993
2  2024-03-03  88.01    1487
3  2024-03-04  88.07    2458
4  2024-03-05  86.84    1641