In [1]:
import sys, os
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), "..", "src")))

In [2]:
import pandas as pd
from utils import to_datetime
df = pd.DataFrame({"date":["2024-01-01","2024/01/02","01-03-2024"], "x":[1,2,3]})
df = to_datetime(df, "date")
display(df.info()); display(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1 non-null      datetime64[ns]
 1   x       3 non-null      int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 180.0 bytes

None

        date  x
0 2024-01-01  1
1        NaT  2
2        NaT  3