In [1]:
import sys, os
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), "..", "src")))

In [2]:
import pandas as pd, os
raw_path = os.path.abspath(os.path.join(os.getcwd(),"..","data","raw","sample_raw.csv"))
df = pd.read_csv(raw_path)
display(df.head()); display(df.describe())
out_path = os.path.abspath(os.path.join(os.getcwd(),"..","data","raw","ingested_copy.csv"))
df.to_csv(out_path, index=False); print("saved:", out_path)

         date  value_a  value_b
0  2024-01-01       10       10
1  2024-01-02       20       20
2  2024-01-03       30       35
3  2024-01-04       40       40
4  2024-01-05       50       50

          value_a     value_b
count   20.000000   20.000000
mean   105.000000  105.750000
std     59.160798   59.388883
min     10.000000   10.000000
25%     57.500000   57.500000
50%    105.000000  105.000000
75%    152.500000  152.500000
max    200.000000  200.000000

saved: c:\Users\24614\bootcamp_Mingxuan_Jiang\project\data\raw\ingested_copy.csv