In [1]:
import sys, os
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), "..", "src")))

In [2]:
import pandas as pd, os
from cleaning import normalize_cols, fill_na_num, standardize
raw = os.path.abspath(os.path.join(os.getcwd(),"..","data","raw","sample_raw.csv"))
df = pd.read_csv(raw)
df = normalize_cols(df)
df = fill_na_num(df, ["value_a","value_b"], 0.0)
df_std = standardize(df, ["value_a","value_b"])
display(df.head()); display(df_std.head())
proc_dir = os.path.abspath(os.path.join(os.getcwd(),"..","data","processed"))
os.makedirs(proc_dir, exist_ok=True)
out = os.path.join(proc_dir,"sample_preprocessed.csv")
df_std.to_csv(out, index=False); print("saved:", out)

         date  value_a  value_b
0  2024-01-01       10       10
1  2024-01-02       20       20
2  2024-01-03       30       35
3  2024-01-04       40       40
4  2024-01-05       50       50

         date   value_a   value_b
0  2024-01-01 -1.605793 -1.612255
1  2024-01-02 -1.436762 -1.443873
2  2024-01-03 -1.267731 -1.191300
3  2024-01-04 -1.098701 -1.107110
4  2024-01-05 -0.929670 -0.938728

saved: c:\Users\24614\bootcamp_Mingxuan_Jiang\project\data\processed\sample_preprocessed.csv